In [2]:
#Run imports
import sqlite3
import pandas as pd

#Connect to the Database
conn = sqlite3.connect("db/movies.db")

# Read from DataBase table into a Dataframe
query = 'SELECT * FROM movies'
df = pd.read_sql(query, conn)

# Display the dataframe
print(df)
conn.close()

      id                                       name    genre    year  \
0      1                                     Avatar   action  2009.0
1      2                             Jurassic World   action  2015.0
2      3                               The Avengers   action  2012.0
3      4                            The Dark Knight   action  2008.0
4      5  Star Wars: Episode I - The Phantom Menace   action  1999.0
..   ...                                        ...      ...     ...
225  226                                The Shining   horror  1985.0
226  227              The Devil and Daniel Johnston     None  2005.0
227  228                       Ali Wong: Baby Cobra           2016.0
228  229                               The Big Sick  romance  2017.0
229  230                                   Deadpool   action  2016.0

     imdb_rating
0            7.9
1            7.3
2            8.1
3            9.0
4            6.6
..           ...
225          8.4
226          8.0
227          NaN
228          NaN
229          NaN

[230 rows x 5 columns]

In [5]:
#Run imports
import sqlite3
import pandas as pd

#Connect to the Database
conn = sqlite3.connect("db/movies.db")

#change column names in DataBase table
query = '''SELECT id as Movie_ID,name as Movie_Title, imdb_rating as Rating
FROM movies
WHERE genre = 'horror' AND year <=1985 
ORDER BY Rating DESC
LIMIT 3

'''


df = pd.read_sql(query, conn)

# Display the dataframe
print(df)
conn.close()

   Movie_ID            Movie_Title  Rating
0       226            The Shining     8.4
1       100               Gremlins     7.2
2       116  The Amityville Horror     6.2